*.ext2
*.tar.gz
rootfs.*
package.json
*.bin

sys-utils/hex/hex
sys-utils/ioctl-echo-loop/ioctl-echo-loop
sys-utils/rollup/rollup
sys-utils/xhalt/xhalt
sys-utils/yield/yield

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Rust
*target

#VS Code
*.idea
