Package: libcmt-dev-riscv64-cross
Version: ARG_VERSION
Architecture: all
Priority: optional
Section: devel
Maintainer: Machine Reference Unit <https://discord.com/channels/600597137524391947/1107965671976992878>
Provides: libcmt-dev-riscv64-cross
Description: Libcmt Library and Headers
